layout {
    tab_template name="ui" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    // 2 panes = side by side split
    swap_tiled_layout name="vertical" {
        ui max_panes=2 {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        ui max_panes=2 {
            pane
            pane
        }
    }

    // 3+ panes = left pane + stacked right
    swap_tiled_layout name="stacked" {
        ui min_panes=3 {
            pane split_direction="vertical" {
                pane
                pane stacked=true {
                    children
                }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }
}
