"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-package-deps":
    ignored: [
      "linter-flow"
      "linter-jsonlint"
      "linter-golinter"
    ]
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
    ]
    projectHome: "/Users/michael/endev"
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontSize: 10
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "653a20cb-ecdd-59eb-ae19-6683c9426fd9"
  "formatter-gofmt":
    a: {}
  "go-plus":
    disabledBundledPackages: [
      "linter"
    ]
  linter: {}
  "linter-phpcs":
    codeStandardOrConfigFile: "~/work/phpcs.xml"
  "linter-phpmd": {}
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  nuclide:
    "atom-ide-outline-view": {}
    installRecommendedPackages: true
    "nuclide-debugger-php":
      idekeyRegex: "xdebug-atom"
      phpRuntimePath: "/usr/bin/php"
    "nuclide-distraction-free-mode":
      hideToolBar: true
    "nuclide-file-tree":
      hideIgnoredNames: false
    "nuclide-home":
      showHome: false
    "nuclide-working-sets":
      workingSets: [
        {
          name: "author"
          active: false
          uris: [
            "/Users/michael/salt-developer/code/api/author"
          ]
        }
      ]
  "php-debug":
    AutoExpandLocals: true
    PathMaps: [
      "/srv;/Users/michael/salt-developer/code"
    ]
    PhpException: {}
    ServerAddress: "192.168.33.1"
    currentConsoleHeight: "488px"
    currentPanelHeight: "666px"
    currentPanelMode: "side"
    currentPanelWidth: "653px"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#161a1f"
        blue: "#01a8c6"
        cyan: "#60a365"
        green: "#95cc5e"
        magenta: "#db784d"
        red: "#d55843"
        white: "#ebd0b8"
        yellow: "#f8bb3b"
      zBright:
        brightBlack: "#7a7267"
        brightBlue: "#6de0ff"
        brightCyan: "#93ef9a"
        brightGreen: "#a6e245"
        brightMagenta: "#ffa47c"
        brightRed: "#ff7c6c"
        brightWhite: "#f8f8f0"
        brightYellow: "#e6db74"
    style:
      defaultPanelHeight: "90%"
      fontFamily: "Source Code Pro for Powerline"
      theme: "one-dark"
    toggles:
      autoClose: true
      selectToCopy: false
  "tool-bar":
    visible: false
  "tree-view": {}
  "vim-mode-plus":
    incrementalSearch: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 100
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 100
    useClipboardAsDefaultRegister: false
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace: {}
